.navbar{

    .fa, .fas {
        font-size: $font-large;
        color: $darkblack;
        padding-right: 10px;
    }

    .navbar-brand{
        font-size: $font-xx-large;
        font-weight: $roboto-medium;
    }
}